<p style="color: green"><%= notice %></p>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <!-- Avatar -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink"
          role="button" data-mdb-toggle="dropdown" aria-expanded="false">
           <%= cl_image_tag("wipnm7zfckgf7btsuzo5", width: 20, height: 20, crop: :thumb, gravity: :face, class: "rounded-circle") %>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="#">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<%= cl_image_tag("jvqun3wjif3req4jyjn7", width: 400, height: 300, crop: :fill) %>


<div class="text-center">
  <h1>WatchLists</h1>
</div>

<div class="row">
  <div class="btn btn-flat">
    <%= link_to 'Create a list', new_list_path %>
  </div>
  <ul>
    <% @lists.each do |list| %>
      <div class="text-center">
        <%= link_to list_path(list), class:"text-decoration-none" do %>
          <div class="card-category">
            <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </ul>
</div>
