<p style="color: green"><%= notice %></p>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3>Lists</h3>
    <%= link_to "Create a list", new_list_path, class: "btn btn-flat" %>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div>
        <%= link_to list_path(list) do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('list_background.jpg') %>)">
            <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%# class="co-12 col-sm-6 col-md-4 mb-3" div of :%>
<%# , class:"text-decoration-none" after link to list_path(list) iteration %>
<%# in h3 :  class="mb-0" %>
